.my-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
  padding: 75px;
  line-height: 1.5;
  font-size: 1.5em;
  color: white;
    background-color: white;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxes {
    border: 1px solid red;
    height: 350px;
    width: 250px;
    border-radius: 15px;
}